-
    var header = '#recent clients'
    var clientList = [
        "/asset/image/client/uber.png",
        "/asset/image/client/deliveroo.png",
        "/asset/image/client/pho.png",
        "/asset/image/client/youngs.png"
    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image